akka {
	actor {
		provider = cluster
	}
            
	remote {
		dot-netty.tcp {
			hostname = "127.0.0.1"
			port = 0
			maximum-frame-size = 256000b
		}
	}            

	cluster {
		#will inject this node as a self-seed node at run-time
		seed-nodes = ["akka.tcp://webcrawler@localhost:4053"] #manually populate other seed nodes here, i.e. "akka.tcp://lighthouse@127.0.0.1:4053", "akka.tcp://lighthouse@127.0.0.1:4044"
		roles = [crawler]
	}
}