<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<akka>
		<hocon>
			<![CDATA[
					akka {
						actor {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
							deployment {
								/api/broadcaster {
									router = broadcast-group
									routees.paths = ["/user/api"]
									cluster {
											enabled = on
											allow-local-routees = on
											use-role = tracker
									}
								}
								
								/downloads/broadcaster {
									router = broadcast-group
									routees.paths = ["/user/downloads"]
									cluster {
											enabled = on
											max-nr-of-instances-per-node = 1
											allow-local-routees = on
											use-role = tracker
									}
								}
								
								"/api/*/coordinators" {
									router = round-robin-pool
									nr-of-instances = 10
									cluster {
										enabled = on
										max-nr-of-instances-per-node = 2
										allow-local-routees = off
										use-role = crawler
									}
								}             
								
							}
						}
						
						remote {
							log-remote-lifecycle-events = DEBUG
							log-received-messages = on
							
							dot-netty.tcp {
								transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
								applied-adapters = []
								transport-protocol = tcp
								#will be populated with a dynamic host-name at runtime if left uncommented
								#public-hostname = "POPULATE STATIC IP HERE"
								hostname = "127.0.0.1"
								port = 0
                maximum-frame-size = 256000b
							}
						}            

						cluster {
							#will inject this node as a self-seed node at run-time
							seed-nodes = ["akka.tcp://webcrawler@127.0.0.1:4053"] #manually populate other seed nodes here, i.e. "akka.tcp://lighthouse@127.0.0.1:4053", "akka.tcp://lighthouse@127.0.0.1:4044"
							roles = ["tracker"]
						}
					}
			]]>
		</hocon>
	</akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>