@page "/create"
@model SqlSharding.WebApp.Pages.CreateProduct
@{
    ViewData["Title"] = "Create New Product";
}

<div class="text-center">
    <h1 class="display-4">Create New Product</h1>
    <form method="post">
        <div class="form-group row">
            
        </div>
    </form>
</div>