@page
@model IndexModel
@{
    ViewData["Title"] = "Available Products";
}

<div class="text-center">
    <h1 class="display-4">Available Products</h1>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            @if (Model.Products.Count == 0)
            {
                <strong>No products created yet.</strong>
            }
            else
            {
                var num = 1;
                <table class="table table-striped text-start">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Current Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <th scope="row">@num</th>
                            <td><a asp-page="/product" asp-route-productId="@product.ProductId">@product.ProductName</a></td>
                            <td>@($"{product.CurrentPrice:C}")</td>
                        </tr>
                        num++;
                    }
                    </tbody>
                </table>
            }
        </div>
        <div class="col">
        </div>
    </div>
</div>